/* All */
* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Nav */
nav {
  padding: 20px;
  text-align: left;
  background-color: rgb(8, 8, 8);
  color: white;
}

/* Body: Row 1 */
.column-1 {
  float: left;
  width: 60%;
  padding: 10px;
}

.column-2 {
  float: left;
  width: 40%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Row 1: Right module */
.aside-left {
  float: left;
  width: 60%;
  padding: 10px;
  padding-top: 20px;;
}

.aside-right {
  float: left;
  width: 40%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.aside-left > a {
  color:rgb(8, 8, 8);
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Row 2 */
section {
  padding: 20px;
}

/* Footer */
footer {
  padding: 120px 40px 40px 40px;
  text-align: center;
  background-color: rgb(8, 8, 8);
  color: white;
  margin-top: 10px;
}